body{
    margin: 0;
}

header{
    background-color: blue;
    height: 150px;
    width: 100%;
}

h1{
    background-color: green;
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
}

.tools{
    background-color: brown;
    text-align: center;
    padding: 10px;
}

.color{
    border-color: black;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    width: 100px;
    height: 100px;
    margin:0px;
    text-align: center;
}

.color1{
    background-color: black;
}
.color2{
    background-color:green;
}
.color3{
    background-color:crimson;
}
.color4{
    background-color:blue;
}
.pixel{
    text-align: center;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    height: 40px;
    width: 40px;
    display: inline-block;
}

.box{
    padding: 100px
}